<form action="/rooms" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="description" placeholder="description">
  <button type="submit">Submit</button>
</form>