<form action="/rooms/{{room._id}}" method="post">
  <input type="text" name="name" value="{{room.name}}">
  <input type="text" name="description" value="{{room.description}}">
  <button type="submit">Submit</button>
</form>